h1 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "header header"
                         "kalender info"
                         "kalender historie"
                         "footer footer";                              
}
body > header {
    grid-area: header;
}

#kalender {
    grid-area: kalender;
}
#info {
    grid-area: info;
}
#historie {
    grid-area: historie;
}

